
#assetsReg{
    width:1200px;
    margin:20px auto;
    position:relative;
    display:flex;
    justify-content: space-between;
}
.line{
    position:absolute;
    width:100%;
    height:100%;
    z-index: -10;
}
.myassets{
    width:27%;
}
.myassets h3{height:35px;}
.assetsTb{
    width:100%;
    border-collapse: collapse;
    
}

.assetsTb th, .assetsTb td{
    border:1px solid #aaa;
    text-align: center;
    padding:5.5px 0;
}

.assetsTb  td input{
    width:95%;margin:0 auto; padding-left:3px;
}

.bankTb tbody .currency::after{
    content:"원";
}





@media screen and (max-width:800px){
    #assetsReg{
        flex-direction: column;
    }
}